<p>
  You may change the CSS, HTML or JS of this page and the page will reload accordingly!
</p>

<p>See:</p>
<ul>
  <li>app/views/application/home.html.erb</li>
  <li>app/assets/stylesheets/application.css</li>
  <li>app/assets/javascripts/application.js</li>
</ul>
